<app-auth-container>
  <div class="page-header">
    <app-page-header 
      title="Historial de Citas" 
      [subtitle]="isVeterinario() ? 'Historial general de citas de tus pacientes' : 'Consulta tus citas pasadas y próximas'">
    </app-page-header>
  </div>

  <div class="citas-historial-content">
    <div class="filtro-container">
      <app-filtro-mascotas 
        (mascotaSeleccionada)="onMascotaSeleccionada($event)">
      </app-filtro-mascotas>
      <app-filtro-estados 
        [isVeterinario]="isVeterinario()"
        (estadoSeleccionado)="onEstadoSeleccionado($event)">
      </app-filtro-estados>
    </div>
    
    <app-table-citas #tableCitasComponent></app-table-citas>
  </div>
</app-auth-container>

